<div class="jumbotron">
  <h1>Avionics Front-end Team</h1>
  <p class="lead">
    First Angular Project
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Awesome<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Display all the information for rocket 1</h4>
  <p>
    Hint: use ng-repeat
  </p>

  <h4>Make a new page for rocket 2</h4>
  <p>
    Modify the routeprovider in app.js
  </p>

  <h4>Make those pages more presentable!</h4>
  <p>
    Make new css/scss files (these are called stylesheets) in the styles folder
  </p>
</div>
